{% extends 'base.html' %}
{% block content %}

<div class="container main">
    <!-- 中间 -->
    <div class="row">
        <div class="col left-column">
            <div class="tab">Bootstrap4 教程 <a data-cate="219" href="javascript:void(0);" title="夜间模式" id="moon"><i
                    class="fa fa-moon-o" aria-hidden="true"
                    style="font-size: 1.4em;float: right;margin: 4px 6px 0;"></i></a>
                <a data-cate="219" style="display:none;" href="javascript:void(0);" title="日间模式" id="sun"><i
                        class="fa fa-sun-o" aria-hidden="true"
                        style="font-size: 1.4em;float: right;margin: 4px 6px 0;"></i></a>
            </div>
            <div class="sidebar-box gallery-list">
                <div class="design" id="leftcolumn">
                    <a target="_top" title="Bootstrap4 教程"
                       href="http://www.runoob.com/bootstrap4/bootstrap4-tutorial.html"
                       style="background-color: rgb(150, 185, 125); font-weight: bold; color: rgb(255, 255, 255);">
                        Bootstrap4 教程 </a>
                    <a target="_top" title="Bootstrap4 安装使用"
                       href="http://www.runoob.com/bootstrap4/bootstrap4-install.html">
                        Bootstrap4 安装使用 </a>
                    <a target="_top" title="Bootstrap4 网格系统"
                       href="http://www.runoob.com/bootstrap4/bootstrap4-grid-basic.html">
                        Bootstrap4 网格系统 </a>
                    <a target="_top" title="Bootstrap4 文字排版"
                       href="http://www.runoob.com/bootstrap4/bootstrap4-typography.html">
                        Bootstrap4 文字排版 </a>

                </div>
            </div>
        </div>
        <div class="col middle-column">


            <div class="article">
                <div class="article-heading-ad" style="display: none;">

                </div>
                <div class="previous-next-links">
                    <div class="previous-design-link" style="display: none;"></div>
                    <div class="next-design-link"><a href="http://www.runoob.com/bootstrap4/bootstrap4-install.html"
                                                     rel="next" title="Bootstrap4 安装使用">Bootstrap4 安装使用</a> <i
                            style="font-size:16px;" class="fa fa-arrow-right" aria-hidden="true"></i></div>
                </div>
                <div class="article-body">

                    <div class="article-intro" id="content" deep="5">

                        <h1>Bootstrap4 <span class="color_h1">教程</span></h1>
                        <div class="tutintro">
                            <img src="./Bootstrap4 教程 _ 菜鸟教程_files/bootstrap-stack.png" alt="Bootstrap 教程" width="128"
                                 height="128">
                            <p>
                                Bootstrap 是全球最受欢迎的前端组件库，用于开发响应式布局、移动设备优先的 WEB 项目。</p>
                            <p>
                                Bootstrap4 目前是 Bootstrap 的最新版本，是一套用于 HTML、CSS 和 JS 开发的开源工具集。利用我们提供的 Sass 变量和大量
                                mixin、响应式栅格系统、可扩展的预制组件、基于 jQuery 的强大的插件系统，能够快速为你的想法开发出原型或者构建整个 app 。</p>
                        </div>

                        <h2 class="tutheader">谁适合阅读本教程？</h2>
                        <p>只要您具备 HTML 和 CSS 的基础知识，您就可以阅读本教程，进而开发出自己的网站。在您学习完本教程后，您即可达到使用 Bootstrap 开发 Web 项目的中等水平。</p>

                        <h2 class="tutheader">阅读本教程前，您需要了解的知识：</h2>
                        <p>在您开始阅读本教程之前，您必须具备 HTML 、 CSS 和 JavaScript 的基础知识。如果您还不了解这些概念，那么建议您先阅读我们的这些教程:
                        </p>
                        <ul>
                            <li><a href="http://www.runoob.com/html/html-tutorial.html" title="HTML 教程">HTML 教程</a></li>
                            <li><a href="http://www.runoob.com/css/css-tutorial.html" title="CSS 教程">CSS 教程</a></li>
                            <li><a href="http://www.runoob.com/js/js-tutorial.html" title="JavaScript 教程">JavaScript
                                教程</a></li>
                        </ul>

                        <h2 class="tutheader">Bootstrap4 实例</h2>

                        <div class="example">
                            <h2 class="example_head">Bootstrap4 实例</h2>
                            <div class="example_code">
                                <div class="hl-main"><span class="hl-brackets">&lt;</span><span
                                        class="hl-reserved">div</span><span class="hl-code"> </span><span
                                        class="hl-var">class</span><span class="hl-code">=</span><span
                                        class="hl-quotes">"</span><span
                                        class="hl-string">jumbotron text-center</span><span
                                        class="hl-quotes">"</span><span class="hl-brackets">&gt;</span><span
                                        class="hl-code">
  </span><span class="hl-brackets">&lt;</span><span class="hl-reserved">h1</span><span
                                        class="hl-brackets">&gt;</span><span
                                        class="hl-code">我的第一个 Bootstrap 页面</span><span
                                        class="hl-brackets">&lt;/</span><span class="hl-reserved">h1</span><span
                                        class="hl-brackets">&gt;</span><span class="hl-code">
  </span><span class="hl-brackets">&lt;</span><span class="hl-reserved">p</span><span
                                        class="hl-brackets">&gt;</span><span class="hl-code">重置浏览器大小查看效果!</span><span
                                        class="hl-brackets">&lt;/</span><span class="hl-reserved">p</span><span
                                        class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">div</span><span
                                        class="hl-brackets">&gt;</span><span class="hl-code">
 
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">div</span><span class="hl-code"> </span><span
                                        class="hl-var">class</span><span class="hl-code">=</span><span
                                        class="hl-quotes">"</span><span class="hl-string">container</span><span
                                        class="hl-quotes">"</span><span class="hl-brackets">&gt;</span><span
                                        class="hl-code">
  </span><span class="hl-brackets">&lt;</span><span class="hl-reserved">div</span><span class="hl-code"> </span><span
                                        class="hl-var">class</span><span class="hl-code">=</span><span
                                        class="hl-quotes">"</span><span class="hl-string">row</span><span
                                        class="hl-quotes">"</span><span class="hl-brackets">&gt;</span><span
                                        class="hl-code">
                                </div>
                            </div>
                            <br data-filtered="filtered"><a target="_blank"
                                                            href="http://www.runoob.com/try/try.php?filename=trybs4_default"
                                                            class="tryitbtn">尝试一下 »</a></div>

                        <h2 class="tutheader">Boostrap4 与 Bootstrap3</h2>
                        <p>Boostrap4 是 Bootstrap 的最新版本，与 Bootstrap3 相比拥有了更多的具体的类以及把一些有关的部分变成了相关的组件。同时 Bootstrap.min.css
                            的体积减少了40%以上。</p>

                        <p>Boostrap4 放弃了对 IE8 以及 iOS 6 的支持，现在仅仅支持 IE9 以上 以及 iOS 7 以上版本的浏览器。如果对于其中需要用到以前的浏览器，那么请使用 <a
                                href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html" rel="noopener"
                                target="_blank">Bootstrap3</a>。</p>

                    </div>
                </div>

                <div class="previous-next-links">
                    <div class="previous-design-link" style="display: none;"></div>
                    <div class="next-design-link"><a href="http://www.runoob.com/bootstrap4/bootstrap4-install.html"
                                                     rel="next" title="Bootstrap4 安装使用">Bootstrap4 安装使用</a> <i
                            style="font-size:16px;" class="fa fa-arrow-right" aria-hidden="true"></i></div>
                </div>
                <!-- 笔记列表 -->
                <style>
                    .wrapper {
                        /*text-transform: uppercase; */
                        background: #ececec;
                        color: #555;
                        cursor: help;
                        font-family: "Gill Sans", Impact, sans-serif;
                        font-size: 20px;
                        position: relative;
                        text-align: center;
                        width: 200px;
                        -webkit-transform: translateZ(0); /* webkit flicker fix */
                        -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
                    }

                    .wrapper .tooltip {
                        white-space: nowrap;
                        font-size: 14px;
                        text-align: left;
                        background: #96b97d;
                        bottom: 100%;
                        color: #fff;
                        display: block;
                        left: -25px;
                        margin-bottom: 15px;
                        opacity: 0;
                        padding: 14px;
                        pointer-events: none;
                        position: absolute;

                        -webkit-transform: translateY(10px);
                        -moz-transform: translateY(10px);
                        -ms-transform: translateY(10px);
                        -o-transform: translateY(10px);
                        transform: translateY(10px);
                        -webkit-transition: all .25s ease-out;
                        -moz-transition: all .25s ease-out;
                        -ms-transition: all .25s ease-out;
                        -o-transition: all .25s ease-out;
                        transition: all .25s ease-out;
                        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                    }

                    .tooltip a {
                        color: #fff;
                    }

                    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
                    .wrapper .tooltip:before {
                        bottom: -20px;
                        content: " ";
                        display: block;
                        height: 20px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                    }

                    /* CSS Triangles - see Trevor's post */
                    .wrapper .tooltip:after {
                        border-left: solid transparent 10px;
                        border-right: solid transparent 10px;
                        border-top: solid #96b97d 10px;
                        bottom: -10px;
                        content: " ";
                        height: 0;
                        left: 20%;
                        margin-left: -13px;
                        position: absolute;
                        width: 0;
                    }

                    .wrapper .tooltip1 {
                        margin-left: 50px;
                        padding-top: 0px;
                    }

                    .wrapper:hover .tooltip {
                        opacity: 1;
                        pointer-events: auto;
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        -ms-transform: translateY(0px);
                        -o-transform: translateY(0px);
                        transform: translateY(0px);
                    }

                    /* IE can just show/hide with no transition */
                    .lte8 .wrapper .tooltip {
                        display: none;
                    }

                    .lte8 .wrapper:hover .tooltip {
                        display: block;
                    }

                </style>


                <div id="respond" class="no_webshot">
                    <div class="comment-signarea" style="">
                        <h3 class="text-muted" id="share_code"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            点我分享笔记</h3>
                        <input type="hidden" name="is_user_logged_in" id="is_user_logged_in" value="0">
                        <p style="font-size:14px;">笔记需要是本篇文章的内容扩展！</p>
                        <p style="font-size:14px;"><a
                                href="http://www.runoob.com/w3cnote/runoob-user-test-intro.html#invite" target="_blank">注册邀请码获取方式</a>
                        </p>
                        <!--<h3 class="text-muted"><i class="fa fa-info-circle" aria-hidden="true"></i> 分享笔记前必须<a href="javascript:;" class="runoob-pop">登录</a>！</h3>
                        <p><a href="/w3cnote/runoob-user-test-intro.html#invite" target="_blank">注册邀请码获取方式</a></p>-->
                    </div>

                    <form action="http://www.runoob.com/wp-content/themes/runoob/option/addnote.php" method="post"
                          id="commentform" style="display:none;">
                        <div id="comment-status"></div>
                        <div class="comt">
                            <div class="comt-title">
                                <i style="font-size:36px;" class="fa fa-user-circle" aria-hidden="true"></i>
                                <p><a id="cancel-comment-reply-link" href="javascript:;">取消</a></p>
                            </div>
                            <div class="comt-box">
                                <div class="simditor">
                                    <div class="simditor-wrapper">
                                        <div class="simditor-toolbar" style="top: 0px;">
                                            <ul>
                                                <li><a tabindex="-1" unselectable="on"
                                                       class="toolbar-item toolbar-item-bold" href="javascript:;"
                                                       title="加粗文字 ( Ctrl + b )"><span
                                                        class="simditor-icon simditor-icon-bold"></span></a></li>
                                                <li><a tabindex="-1" unselectable="on"
                                                       class="toolbar-item toolbar-item-code" href="javascript:;"
                                                       title="插入代码"><span
                                                        class="simditor-icon simditor-icon-code"></span></a></li>
                                                <li><a tabindex="-1" unselectable="on"
                                                       class="toolbar-item toolbar-item-ul" href="javascript:;"
                                                       title="无序列表 ( Ctrl + . )"><span
                                                        class="simditor-icon simditor-icon-list-ul"></span></a></li>
                                                <li><a tabindex="-1" unselectable="on"
                                                       class="toolbar-item toolbar-item-ol" href="javascript:;"
                                                       title="有序列表 ( ctrl + / )"><span
                                                        class="simditor-icon simditor-icon-list-ol"></span></a></li>
                                                <li><a tabindex="-1" unselectable="on"
                                                       class="toolbar-item toolbar-item-image" href="javascript:;"
                                                       title="插入图片"><span
                                                        class="simditor-icon simditor-icon-picture-o"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="simditor-placeholder" style="display: block;">写笔记...</div>
                                        <div class="simditor-body" contenteditable="true"><p><br></p></div>
                                        <div id="mded"></div>
                                    </div>
                                    <div class="simditor-popover code-popover">
                                        <div class="code-settings">
                                            <div class="settings-field">
                                                <select class="select-lang">
                                                    <option value="-1">选择程序语言</option>
                                                    <option value="bash">Bash</option>
                                                    <option value="c++">C++</option>
                                                    <option value="cs">C#</option>
                                                    <option value="css">CSS</option>
                                                    <option value="erlang">Erlang</option>
                                                    <option value="less">Less</option>
                                                    <option value="sass">Sass</option>
                                                    <option value="diff">Diff</option>
                                                    <option value="coffeescript">CoffeeScript</option>
                                                    <option value="html">HTML,XML</option>
                                                    <option value="json">JSON</option>
                                                    <option value="java">Java</option>
                                                    <option value="js">JavaScript</option>
                                                    <option value="markdown">Markdown</option>
                                                    <option value="oc">Objective C</option>
                                                    <option value="php">PHP</option>
                                                    <option value="parl">Perl</option>
                                                    <option value="python">Python</option>
                                                    <option value="ruby">Ruby</option>
                                                    <option value="sql">SQL</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="simditor-popover image-popover">
                                        <div class="link-settings">
                                            <div class="settings-field">
                                                <label>图片地址</label>
                                                <input class="image-src" type="text" tabindex="1">

                                            </div>
                                            <div class="settings-field">
                                                <label>图片描述</label>
                                                <input class="image-alt" id="image-alt" type="text" tabindex="1">
                                            </div>
                                            <div class="settings-field">
                                                <label>图片尺寸</label>
                                                <input class="image-size" id="image-width" type="text" tabindex="2">
                                                <span class="times">×</span>
                                                <input class="image-size" id="image-height" type="text" tabindex="3">
                                                <a class="btn-restore" href="javascript:;" title="还原图片尺寸" tabindex="-1">
                                                    <span class="simditor-icon simditor-icon-undo"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comt-ctrl">
                                    <div class="comt-tips"><input type="hidden" name="comment_post_ID" value="19213"
                                                                  id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    </div>
                                    <button type="submit" name="submit" id="submit" tabindex="5"><i class="fa fa-pencil"
                                                                                                    aria-hidden="true"></i>
                                        分享笔记
                                    </button>
                                </div>
                            </div>


                            <div class="comt-comterinfo">
                                <ul id="comment-author-info">
                                    <li class="form-inline"><label class="hide" for="author">昵称</label><input
                                            class="ipt" type="text" name="author" id="author" value="" tabindex="2"
                                            placeholder="昵称"><span class="text-muted">昵称 (必填)</span></li>
                                    <li class="form-inline"><label class="hide" for="email">邮箱</label><input class="ipt"
                                                                                                             type="text"
                                                                                                             name="email"
                                                                                                             id="email"
                                                                                                             value=""
                                                                                                             tabindex="3"
                                                                                                             placeholder="邮箱"><span
                                            class="text-muted">邮箱 (必填)</span></li>
                                    <li class="form-inline"><label class="hide" for="url">引用地址</label><input class="ipt"
                                                                                                             type="text"
                                                                                                             name="url"
                                                                                                             id="url"
                                                                                                             value=""
                                                                                                             tabindex="4"
                                                                                                             placeholder="引用地址"><span
                                            class="text-muted">引用地址</span></li>
                                </ul>
                            </div>


                        </div>

                    </form>
                </div>
                <script type="text/javascript">
                    $(function () {
                        //初始化编辑器

                        var editor = new Simditor({
                            textarea: $('#mded'),
                            placeholder: '写笔记...',
                            upload: false,
                            defaultImage: 'http://www.runoob.com/images/logo.png',
                            codeLanguages: '',
                            toolbar: ['bold', 'code', 'ul', 'ol', 'image']
                        });
                        editor.on('selectionchanged', function () {
                            $(".code-popover").hide();
                        });

                        // 提交数据
                        $("#share_code").click(function () {
                            $(".comment-signarea").hide();
                            $("#commentform").show();

                        });

                        // 提交笔记
                        var commentform = $('#commentform');
                        commentform.prepend('<div id="comment-status" ></div>');
                        var statusdiv = $('#comment-status');

                        commentform.submit(function (e) {
                            e.preventDefault();
                            var noteContent = editor.getValue();
                            // console.log(noteContent);
                            noteContent = noteContent.replace(/<pre><code>/g, "<pre>");
                            noteContent = noteContent.replace(/<\/code><\/pre>/g, "</pre>");

                            // 系列化表单数据
                            var comment_parent = 0;
                            var is_user_logged_in = $("#is_user_logged_in").val();
                            var comment_post_ID = 19213;
                            var _wp_unfiltered_html_comment = $("#_wp_unfiltered_html_comment").val();
                            var comment = noteContent;
                            var author = $("#author").val();
                            var url = $("#url").val();
                            var email = $("#email").val();
                            if (isBlank(author) && is_user_logged_in == 0) {
                                statusdiv.html('<p  class="ajax-error">请输入昵称！</p>');
                            } else if (isBlank(email) && is_user_logged_in == 0) {
                                statusdiv.html('<p  class="ajax-error">请输入邮箱！</p>');
                            } else {
                                // var formdata=commentform.serialize() + "&comment=" + noteContent ;
                                // 添加状态信息
                                statusdiv.html('<p>Processing...</p>');
                                // 获取表单提交地址
                                var formurl = commentform.attr('action');

                                // 异步提交
                                $.ajax({
                                    type: 'post',
                                    url: formurl,
                                    dataType: 'json',
                                    data: {
                                        "comment_parent": comment_parent,
                                        "comment_post_ID": comment_post_ID,
                                        "_wp_unfiltered_html_comment": _wp_unfiltered_html_comment,
                                        "comment": comment,
                                        "url": url,
                                        "email": email,
                                        "author": author
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        statusdiv.html('<p class="ajax-error" >数据不完整或表单提交太快了！</p>');
                                    },
                                    success: function (data, textStatus) {
                                        if (data.errorno == "0") {
                                            $("#submit").prop('disabled', true);
                                            statusdiv.html('<p class="ajax-success" >笔记已提交审核，感谢分享笔记！</p>');
                                            alert('笔记已提交审核，感谢分享笔记！');
                                        } else {
                                            statusdiv.html('<p class="ajax-error" >' + data.msg + '</p>');
                                        }
                                        commentform.find('textarea[name=comment]').val('');
                                    }
                                });
                                setTimeout(function () {
                                    $("#submit").prop('disabled', false);
                                }, 10 * 1000);
                            }
                            return false;

                        });

                    });

                    function isBlank(str) {
                        return (!str || /^\s*$/.test(str));
                    }
                </script>

                <link rel="stylesheet" href="/static/css/qa.css">
                <link rel="stylesheet" type="text/css" href="/static/css/simditor.min.css">
                <script type="text/javascript" src="/static/js/module.js"></script>
                <script type="text/javascript" src="/static/js/hotkeys.js"></script>
                <script type="text/javascript" src="/static/js/simditor.min.js"></script>
                <div class="sidebar-box ad-box ad-box-large">
                    <div class="ad-336280" style="display: none;">

                    </div>
                </div>

            </div>
        </div>


        <!-- 右边栏 -->
        <div class="fivecol last right-column">
            <!--
                <div class="tab tab-light-blue" style="text-align: center;">关注微信</div>
                <div class="sidebar-box">
                    <a href="http://m.runoob.com/" target="_blank"> <img src="http://www.runoob.com/wp-content/themes/w3cschool.cc/assets/img/qrcode.jpg" alt="移动版"> </a>
                    <div class="qqinfo">
                     <a target="_blank" href="http://jq.qq.com/?_wv=1027&k=dOwwKN" id="qqhref">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="菜鸟家族" title="菜鸟家族"></a>
                    <span>(群号：<span id="qqid">365967760</span>)</span>
                    </div>

                </div>
                -->
            <style>
                .sidebar-tree .double-li {
                    width: 300px;
                }

                .sidebar-tree .double-li li {
                    width: 44%;
                    line-height: 1.5em;
                    border-bottom: 1px solid #ccc;
                    float: left;
                    display: inline;
                }
            </style>


            <div class="sidebar-box ad-box ad-box-large">
                <div class="sidebar-box advertise-here" style="margin: 0 auto;">
                    <a href="javascript:void(0);" style="font-size: 16px; color:#64854c;font-weight:bold;"> <i
                            class="fa fa-list" aria-hidden="true"></i> 分类导航</a>
                </div>
                <div class="sidebar-box sidebar-cate">

                    <div class="sidebar-tree">
                        <ul>
                            <li style="margin: 0;"><a href="javascript:void(0);" class="tit"> HTML / CSS</a>
                                <ul class="double-li">
                                    <li><a title="HTML 教程" href="http://www.runoob.com/html/html-tutorial.html">HTML
                                        教程</a></li>
                                    <li><a title="HTML5 教程" href="http://www.runoob.com/html/html5-intro.html">HTML5
                                        教程</a></li>
                                    <li><a title="CSS 教程" href="http://www.runoob.com/css/css-tutorial.html">CSS 教程</a>
                                    </li>
                                    <li><a title="CSS3 教程" href="http://www.runoob.com/css3/css3-tutorial.html">CSS3
                                        教程</a></li>
                                    <li><a title="Bootstrap3 教程"
                                           href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html">Bootstrap3
                                        教程</a></li>
                                    <li><a title="Bootstrap4 教程"
                                           href="http://www.runoob.com/bootstrap4/bootstrap4-tutorial.html">Bootstrap4
                                        教程</a></li>
                                    <li><a title="Font Awesome 教程"
                                           href="http://www.runoob.com/font-awesome/fontawesome-tutorial.html">Font
                                        Awesome 教程</a></li>
                                    <li><a title="Foundation 教程"
                                           href="http://www.runoob.com/foundation/foundation-tutorial.html">Foundation
                                        教程</a></li>
                                </ul>
                            </li>
                            <li style="margin: 0;"><a href="javascript:void(0);" class="tit"> JavaScript</a>
                                <ul class="double-li">
                                    <li><a title="JavaScript 教程" href="http://www.runoob.com/js/js-tutorial.html">JavaScript
                                        教程</a></li>
                                    <li><a title="HTML DOM 教程"
                                           href="http://www.runoob.com/htmldom/htmldom-tutorial.html">HTML DOM 教程</a>
                                    </li>
                                    <li><a title="jQuery 教程" href="http://www.runoob.com/jquery/jquery-tutorial.html">jQuery
                                        教程</a></li>
                                    <li><a title="AngularJS 教程"
                                           href="http://www.runoob.com/angularjs/angularjs-tutorial.html">AngularJS
                                        教程</a></li>
                                    <li><a title="AngularJS2 教程"
                                           href="http://www.runoob.com/angularjs2/angularjs2-tutorial.html">AngularJS2
                                        教程</a></li>
                                    <li><a title="Vue.js 教程" href="http://www.runoob.com/vue2/vue-tutorial.html">Vue.js
                                        教程</a></li>
                                    <li><a title="React 教程" href="http://www.runoob.com/react/react-tutorial.html">React
                                        教程</a></li>
                                    <li><a title="jQuery UI 教程"
                                           href="http://www.runoob.com/jqueryui/jqueryui-tutorial.html">jQuery UI 教程</a>
                                    </li>
                                    <li><a title="jQuery EasyUI 教程"
                                           href="http://www.runoob.com/jeasyui/jqueryeasyui-tutorial.html">jQuery EasyUI
                                        教程</a></li>
                                    <li><a title="Node.js 教程" href="http://www.runoob.com/nodejs/nodejs-tutorial.html">Node.js
                                        教程</a></li>
                                    <li><a title="AJAX 教程" href="http://www.runoob.com/ajax/ajax-tutorial.html">AJAX
                                        教程</a></li>
                                    <li><a title="JSON 教程" href="http://www.runoob.com/json/json-tutorial.html">JSON
                                        教程</a></li>
                                    <li><a title="Highcharts 教程"
                                           href="http://www.runoob.com/highcharts/highcharts-tutorial.html">Highcharts
                                        教程</a></li>
                                    <li><a title="Google 地图 教程"
                                           href="http://www.runoob.com/googleapi/google-maps-basic.html">Google 地图
                                        教程</a></li>
                                </ul>
                            </li>
                            <li style="margin: 0;"><a href="javascript:void(0);" class="tit"> 服务端</a>
                                <ul class="double-li">
                                    <li><a title="PHP 教程" href="http://www.runoob.com/php/php-tutorial.html">PHP 教程</a>
                                    </li>
                                    <li><a title="Python 教程" href="http://www.runoob.com/python/python-tutorial.html">Python
                                        教程</a></li>
                                    <li><a title="Python3 教程"
                                           href="http://www.runoob.com/python3/python3-tutorial.html">Python3 教程</a>
                                    </li>
                                    <li><a title="Django 教程" href="http://www.runoob.com/django/django-tutorial.html">Django
                                        教程</a></li>
                                    <li><a title="Linux 教程" href="http://www.runoob.com/linux/linux-tutorial.html">Linux
                                        教程</a></li>
                                    <li><a title="Docker 教程" href="http://www.runoob.com/docker/docker-tutorial.html">Docker
                                        教程</a></li>
                                    <li><a title="Ruby 教程" href="http://www.runoob.com/ruby/ruby-tutorial.html">Ruby
                                        教程</a></li>
                                    <li><a title="Java 教程" href="http://www.runoob.com/java/java-tutorial.html">Java
                                        教程</a></li>
                                    <li><a title="C 教程" href="http://www.runoob.com/c/c-tutorial.html">C 教程</a></li>
                                    <li><a title="C++ 教程" href="http://www.runoob.com/cplusplus/cpp-tutorial.html">C++
                                        教程</a></li>
                                    <li><a title="Perl 教程" href="http://www.runoob.com/perl/perl-tutorial.html">Perl
                                        教程</a></li>
                                    <li><a title="Servlet 教程"
                                           href="http://www.runoob.com/servlet/servlet-tutorial.html">Servlet 教程</a>
                                    </li>
                                    <li><a title="JSP 教程" href="http://www.runoob.com/jsp/jsp-tutorial.html">JSP 教程</a>
                                    </li>
                                    <li><a title="Lua 教程" href="http://www.runoob.com/lua/lua-tutorial.html">Lua 教程</a>
                                    </li>
                                    <li><a title="Scala 教程" href="http://www.runoob.com/scala/scala-tutorial.html">Scala
                                        教程</a></li>
                                    <li><a title="Go 教程" href="http://www.runoob.com/go/go-tutorial.html">Go 教程</a></li>
                                    <li><a title="设计模式"
                                           href="http://www.runoob.com/design-pattern/design-pattern-tutorial.html">设计模式</a>
                                    </li>
                                    <li><a title="正则表达式"
                                           href="http://www.runoob.com/regexp/regexp-tutorial.html">正则表达式</a></li>
                                    <li><a title="ASP 教程" href="http://www.runoob.com/asp/asp-tutorial.html">ASP 教程</a>
                                    </li>
                                    <li><a title="AppML 教程" href="http://www.runoob.com/appml/appml-tutorial.html">AppML
                                        教程</a></li>
                                    <li><a title="VBScript 教程"
                                           href="http://www.runoob.com/vbscript/vbscript-tutorial.html">VBScript 教程</a>
                                    </li>
                                </ul>
                            </li>
                            <li style="margin: 0;"><a href="javascript:void(0);" class="tit"> 数据库</a>
                                <ul class="double-li">
                                    <li><a title="SQL 教程" href="http://www.runoob.com/sql/sql-tutorial.html">SQL 教程</a>
                                    </li>
                                    <li><a title="Mysql 教程" href="http://www.runoob.com/mysql/mysql-tutorial.html">Mysql
                                        教程</a></li>
                                    <li><a title="SQLite 教程" href="http://www.runoob.com/sqlite/sqlite-tutorial.html">SQLite
                                        教程</a></li>
                                    <li><a title="MongoDB 教程"
                                           href="http://www.runoob.com/mongodb/mongodb-tutorial.html">MongoDB 教程</a>
                                    </li>
                                    <li><a title="Redis 教程" href="http://www.runoob.com/redis/redis-tutorial.html">Redis
                                        教程</a></li>
                                    <li><a title="Memcached 教程"
                                           href="http://www.runoob.com/Memcached/Memcached-tutorial.html">Memcached
                                        教程</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <br>

            <div class="sidebar-box ad-box ad-box-large">
                <div class="sidebar-box advertise-here">
                    <a href="javascript:void(0);">Advertisement111</a>
                </div>
                <div class="ad-600160" id="sidebar-right-ads">
                    <!--<script async="" src="./Bootstrap4 教程 _ 菜鸟教程_files/adsbygoogle.js"></script> -->
                    <!-- 侧栏1 -->
                    <ins class="adsbygoogle" style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-5751451760833794" data-ad-slot="4106274865"
                         data-adsbygoogle-status="done">
                        <ins id="aswift_0_expand"
                             style="display:inline-table;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:160px;background-color:transparent;">
                            <ins id="aswift_0_anchor"
                                 style="display:block;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:160px;background-color:transparent;">
                                <iframe width="160" height="600" frameborder="0" marginwidth="0" marginheight="0"
                                        vspace="0" hspace="0" allowtransparency="true" scrolling="no"
                                        allowfullscreen="true"
                                        onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                                        id="aswift_0" name="aswift_0"
                                        style="left:0;position:absolute;top:0;width:160px;height:600px;"
                                        src="./Bootstrap4 教程 _ 菜鸟教程_files/saved_resource.html"></iframe>
                            </ins>
                        </ins>
                    </ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}